/**
 * Colors
 */

// Scheme type

.light
	--tab_bgcolor rgba(0,0,0,0.05)
	--tab_bordercolor rgba(0,0,0,0.1)
	--detached_bordercolor rgba(0,0,0,0.1)
	--menu_bordercolor rgba(0,0,0,0.2)
	--menubutton_bordercolor rgba(0,0,0,0.1)
	--svg_color rgba(0,0,0,0.8)
	--color rgba(0,0,0,0.9)
	--color_over_primary_color var(--color)
	--background_color #fff

.dark
	--tab_bgcolor rgba(255,255,255,0.05)
	--tab_bordercolor rgba(255,255,255,0.1)
	--detached_bordercolor rgba(255,255,255,0.2)
	--menu_bordercolor rgba(255,255,255,0.2)
	--menubutton_bordercolor rgba(255,255,255,0.1)
	--svg_color rgba(255,255,255,0.8)
	--color rgba(255,255,255,0.9)
	--color_over_primary_color var(--color)
	--background_color #23282c

// Scheme name - Light

.wp
	--primary_color var(--wp-admin-theme-color, #bdb76b)
	--secondary_color var(--wp-admin-theme-color-darker-10, #bdb76b)
	--color_over_primary_color #fff

.banana
	--primary_color #FFDEAD
	--secondary_color #E5C89C

.melon
	--primary_color #aae6bd
	--secondary_color #97CCA8

.melocoton
	--primary_color #ffc5b4
	--secondary_color #ffc5b4

.coco
	--svg_color #544c3f
	--background_color #f5f5f5
	--primary_color #fff
	--secondary_color #A09178

.mandarina
	--primary_color #FFA07A
	--secondary_color #FFA07A

.pistacho
	--primary_color #bdb76b
	--secondary_color #bdb76b

// Scheme name - Dark

.higo
	--primary_color #827c7a
	--secondary_color #686462

.mango
	--primary_color #E9967A
	--secondary_color #A96D59
	--color_over_primary_color rgba(0,0,0,0.9)

.endrina
	--primary_color #708090
	--secondary_color #5C6976

.castana
	--primary_color #c27c49
	--secondary_color #825331

.naranja
	--primary_color #ff7f50
	--secondary_color #B05837
	--color_over_primary_color rgba(0,0,0,0.9)

.ciruela
	--primary_color #bd8f8f
	--secondary_color #7D5F5F
