/**
 * Block - Header
 */

.container
	display flex
	align-items center
	padding-left 1em
	overflow hidden
	white-space nowrap
	margin-left 1px
	position relative
	flex-grow 1

	&.is_detached
		padding-left .5em

	&.is_moving
		background-color var(--background_color)

	&.no-moving.no-can_move
		cursor default

	&.no-moving.can_move
		// https://stackoverflow.com/a/18294634 | CC BY-SA 3.0
		cursor move // fallback if grab cursor is unsupported
		cursor grab

.content
	display flex
	align-items center
	pointer-events none
	width 100%
	transition opacity .1s .1s var(--e_deceleration)

	&::selection
		background-color transparent

	.is_moving &
	.ancestor_is_moving &
		opacity .3
