/**
 * Block - Container - Header - Content - Text
 */

.container
	text-overflow ellipsis
	overflow hidden
	flex-shrink 2
	min-width 4em

.block_info_displayed-title_content:before
	content "|"
	margin-left .5em
	margin-right .7em
