/**
 * Content
 */

.container
	position absolute
	bottom calc(0.9 * 3em)
	left 0
	height 100%
	width 100%
	background-color var(--background_color)
	color var(--color)
	fill var(--svg_color)
	outline 1px solid var(--detached_bordercolor)
	display flex

.warning
	position absolute
	top 0
	bottom 0
	left 0
	right 0
	display flex
	align-items center
	justify-content center

	span
		padding 2em
