/**
 * Block
 */

@import "./_menu"

+prefix-classes('bn-')

	.no-moving
		.no-can_move
			cursor default

		.can_move .block-header
			// https://stackoverflow.com/a/18294634 | CC BY-SA 3.0
			cursor move // fallback if grab cursor is unsupported
			cursor grab
			cursor -moz-grab
			cursor -webkit-grab

	.block
		height 4em
		width 100%
		position relative

		::selection
			background transparent

		&:before
			content ""
			position absolute
			top 0
			left 0
			width 100%
			height 100%
			background var(--secondary_color_2)
			z-index -1
