/**
 * Button
 */

.button
	line-height 1.7em
	min-height 40px
	width 100%
	padding 0 14px 0 7px
	display flex
	align-items center
	transition background-color .05s var(--e_standard), color .05s var(--e_standard), fill .05s var(--e_standard)
	font-weight 400

	&:hover
		background-color var(--primary_color)
		color var(--color_over_primary_color)
		fill currentColor

	&.is_disabled
		pointer-events none
		opacity .3

.icon
	display flex
	margin-right 5px
	width 24px
	justify-content center
