/**
 * ViewSettings
 */

+prefix-classes('bn-')

	#bn-settings

		> div
			padding 2em 1.2em

		label
			font-weight 500
			margin-bottom 1em
			color var(--color_1)

		.color_scheme
			background-color var(--primary_color)

			select
				color var(--color_1)
				border-color var(--color_1)
				background-color var(--primary_color)
				outline-color transparent
				box-shadow none
