/**
 * App
 */

.container
	--e_standard cubic-bezier(0.4, 0.0, 0.2, 1)
	--e_deceleration cubic-bezier(0.0, 0.0, 0.2, 1)
	background-color var(--background_color)
	color var(--color)
	fill var(--svg_color)
	height 100%
	width 100%

	*
		user-select none

.is_detached
	outline 1px solid var(--detached_bordercolor)
	position absolute
	bottom calc(0.9 * 3em)
	left 0

	:global(.components-resizable-box__handle)
		display block // This is necessary for WP 5.4. TODO: Check

	:global(.components-resizable-box__handle):after
		background-color var(--primary_color)

.resize_content
	position absolute
	top 0
	bottom 0
	left 0
	right 0
	display flex
	align-items center
	justify-content center

	span
		padding 2em

:global(#block-navigation-detached)

	*
		box-sizing border-box

.detached_container
	position fixed
	bottom 0
	left 0
	z-index 99999

	&.right
		left auto
		right 0