/**
 * App
 */

.container
	overflow hidden
	background-color var(--background_color)
	color var(--color)
	fill var(--svg_color)
	height 100%
	width 100%

	*
		user-select none

.calculating_size
	display flex
	flex 1
	flex-direction column

.is_detached
	outline 1px solid var(--detached_bordercolor)

:global(#block-navigation-detached)
	position fixed
	height 300px
	bottom 0
	left 0
	width 240px
	z-index 99999

	*
		box-sizing border-box
