/**
 * App
 */

@import "./_buttons"
@import "./_colors"
@import "./_logo"
@import "./_moving"

#bn-container
	overflow-y auto
	overflow-x hidden

	&:after
		content ""
		width 100%
		height 150px
		display block
