/**
 * App
 */

.container
	overflow hidden
	background-color var(--background_color)
	color var(--color_09)
	fill var(--color_08)

	*
		user-select none

.calculating_size
	display flex
	flex 1
	flex-direction column
