/**
 * BlockDropAreas
 */

+prefix-classes('bn-')

	#bn-navigation-drop_overlay
		position absolute
		top 0
		left 0
		width 100%

	.drop_overlay
		background-color var(--primary_color)
		position absolute
		top 0
		left 0
		right 0
		bottom 0

		~ .drop_overlay
			background-color rgba(0,0,0,.1)
