/**
 * Toolbar
 */

.container
	display flex
	align-items center
	justify-content space-between
	padding 0 1em
	background var(--primary_color)
	border-top 1px solid var(--background_color)
	height 4em
	border-bottom 2px solid var(--background_color)
	color var(--color_over_primary_color)
	fill currentColor

	&.is_detached
		top 0
		padding-left .5em
		border-top none
		border-bottom none
		height 3em

.button
	white-space nowrap
	margin-right -1em
	text-transform uppercase

	&
	&:hover
	&:focus
		font-size .95em

.block_title
	display flex
	align-items center
	white-space nowrap
	overflow hidden

	> div
		display flex
		align-items center
		overflow hidden
