/**
 * Toolbar
 */

.container
	display flex
	align-items center
	justify-content space-between
	padding 0 1.3em
	position sticky
	top 50px
	z-index 2
	background var(--primary_color)
	border-top 1px solid var(--background_color)
	line-height 4em
	overflow hidden
	border-bottom 2px solid var(--background_color)
	color var(--color_over_bgcolor)
	fill currentColor

.button
	white-space nowrap

.block_title
	display flex
	align-items center
	white-space nowrap
	overflow hidden
