/**
 * Block - MenuButton
 */

.container
	line-height 1.7em
	min-height 40px
	width 100%
	padding 0 14px 0 7px
	display flex
	align-items center
	transition background-color .02s $e_standard, color .02s $e_standard

	&:hover
		color var(--color_over_primary_color)
		fill currentColor
		background-color var(--primary_color)
		transition background-color .07s $e_standard, color .07s $e_standard

	&.is_disabled
		pointer-events none
		opacity .3

.icon
	display flex
	margin-right 5px
	width 24px
	justify-content center
