/**
 * Button
 */

.button

	&
	&:focus
	&:hover
		background none
		box-shadow none
		outline none
		border none
		color inherit
		font-size inherit
		cursor pointer

.text
	line-height 3.2
	padding 0 10px
	font-weight 500

.icon
	padding 0
	display flex
	align-items center
