/**
 * ColorScheme
 */

.container
	color var(--color_over_primary_color)
	position relative

	div&
		padding 1.5em 1.2em
		margin 1.5em 0

	&:before
		content ""
		position absolute
		top 0
		bottom 0
		left 0
		right 0
		background-color var(--primary_color)

	select

		&
		&:hover
		&:focus
			border-color var(--color)
			background-color var(--primary_color)
			outline-color transparent
			box-shadow none
			color inherit
