/**
 * ColorScheme
 */

.container
	background-color var(--primary_color)

	div&
		border-radius 0
		padding 2em 1.2em
		padding-top 1.5em

	&&& label
		font-weight 500
		margin-bottom 1em
		color var(--color_over_primary_color)

	select

		&
		&:hover
		&:focus
			border-color var(--color)
			background-color var(--primary_color)
			outline-color transparent
			box-shadow none
