/**
 * BlockContent
 */

.container
	flex-grow 1
	display flex
	align-items center
	overflow hidden
	white-space nowrap
	pointer-events none

.icon
	margin-right .3em

	svg
		display block
		max-width 23px
		max-height 23px
