/**
 * BlockHeader
 */

+prefix-classes('bn-')

	.block-header
		display flex
		align-items center
		padding-left 1.3em
		overflow hidden
		white-space nowrap
		margin-left 1px
		position relative
		flex-grow 1

		+ button
			margin-left auto

		span
			overflow hidden
			text-overflow ellipsis

		.is_moving &
			background-color var(--background_color)

		.no-moving .no-can_move &
			cursor default

		.no-moving .can_move &
			// https://stackoverflow.com/a/18294634 | CC BY-SA 3.0
			cursor move // fallback if grab cursor is unsupported
			cursor grab

	.block-icon
	.block-title
	.block-content
	.button-toggle_list
	.button-toggle_menu
		transition opacity .1s .1s $e_deceleration

		&::selection
			background-color transparent

		.is_moving &
		.ancestor_is_moving &
			opacity .3

	.button-toggle_list
	.button-toggle_menu
		position relative

	.block-title
		min-width 3em

	.block-icon
		margin-right .7em

		svg
			display block
