/*
 * Block Header
 */

#bn-moving_by_click_toolbar
	padding-left 18px
	display: flex;
	align-items: center;
	position: sticky;
	top: 50px;
	z-index: 2;
	background: var(--primary_color);
	border-top: 1px solid var(--background_color);
	line-height: 4em;
	color var(--color_1)
	overflow hidden

+prefix-classes('bn-')

	.moving.moving_type-by_click
		#bn-navigation
			animation slide .4s $e_standard
	.no-moving.moving_type-by_click
		#bn-navigation
			animation slide_up .4s $e_deceleration

@keyframes slide {
	0% {
		z-index 3
		transform translate3d(0, -4em, 0)
	}
	100% {
		z-index 3
		transform translate3d(0, 0, 0)
	}
}

@keyframes slide_up {
	0% {
		z-index 3
		transform translate3d(0, 4em, 0)
	}
	100% {
		z-index 3
		transform translate3d(0, 0, 0)
	}
}
