/*
 * Block Header
 */

+prefix-classes('bn-')

	.block-header-container
	.block-header
		position absolute
		top 0
		left 0
		right 0
		bottom 0

	.block-header-container
		background-color var(--background_color)

	.block-header
		line-height 4
		padding-left 18px
		padding-right 7px
		display flex
		align-items center
		border-left 1px solid var(--secondary_color_2)
		transition background-color .2s $e_standard

		&:after
			content ""
			position absolute
			top 0
			left 0
			right 0
			bottom 0

		.no-moving .is_selected &
			background-color var(--primary_color)
			color var(--color_1)

		.level-0 &
			border-left none

	.block-image-container
		width 2em
		height 2em
		object-fit cover
		position relative
		border-radius 50%
		overflow hidden
		border 1px solid
		margin-right 10px

	.block-image
		position absolute
		top 0
		left 0
		width 100%
		height 100%

	.content_type-image
		display flex
		align-items center
		margin-left 10px

	.content_type-text
		overflow hidden
		text-overflow ellipsis
		white-space nowrap

		&:before
			content "|"
			margin 0 10px

	.block-text
		white-space nowrap
		overflow hidden
		text-overflow ellipsis
		display flex

	.block-text + button
		margin-left auto

	.block-icon
		margin-right 10px
		display flex

		svg
			width 22px
			height 22px
