/*
 * Block
 */

$block_height = 60px
$block_height_end = 15px

#bn-container

	#blocks-empty
		max-height $block_height

	.block
		position relative
		margin 0
		min-height $block_height

	.is_selected
		color var(--color_1)
		fill var(--color_1)

		.list-nested
		.list-nested .block-header
			background-color var(--primary_color)

	&.color_scheme-type-dark
		#bn-move-info span
		.is_selected span
			text-shadow 0 0 1px rgba(0,0,0,.15)

	#bn-navigation .is_end_of_list
		z-index 1
		height $block_height_end
		max-height $block_height
		min-height 0
		width calc(100% - 22px)
		position absolute

		.block-header
			margin-top 0
			background-color transparent
			height 100%

		.drop_area
			height 100%
		&:before
			width 100%
			height 100%
			display block
		&.is_mouse_over
			height 60px
