/*
 * Buttons
 */

+prefix-classes('bn-')

	#bn-container

		.button-toggle
			position absolute
			top 0
			right 10px
			height 4em

		.button-text
			font-size .85em
			line-height 3.2
			padding 0 10px
			text-transform uppercase
			font-weight 500
			cursor pointer

			&
			&:focus
			&:hover
				background none
				box-shadow none
				outline none
				border none

		.button-icon
			padding 0
			display flex
			align-items center
			cursor pointer

			&
			&:focus
			&:hover
				background none
				box-shadow none
				outline none
				border none

		// .button-toggle
		// 	position absolute
		// 	top 0
		// 	right 0
