/*
 * Buttons
 */

+prefix-classes('bn-')


	button.button-menu
		.menu &
			width: 100%;
			padding: 0 14px 0 7px
			display: flex;
			align-items: center;
			line-height: 3em;
			transition background-color .2s $e_standard

			&:hover
				background-color var(--primary_color)

		&.is_disabled
			pointer-events none
			opacity .3

	.button-toggle_menu
		width 24px
		display flex
		justify-content center

	.button
	.button-text
	.button-icon
		&
		&:focus
		&:hover
			background none
			box-shadow none
			outline none
			border none

	.button-text
		font-size .85em
		line-height 3.2
		padding 0 10px
		text-transform uppercase
		font-weight 500
		cursor pointer

	.button-icon
		padding 0
		display flex
		align-items center
		cursor pointer
