/*
 * Colors
 */


+prefix-classes('bn-')

	#bn-container
	.menu
		background-color var(--background_color)
		color var(--color_08)
		fill var(--color_07)

	.color_scheme-type-light
		--color_005 rgba(0,0,0,0.05)
		--color_01 rgba(0,0,0,0.1)
		--color_07 rgba(0,0,0,0.7)
		--color_08 rgba(0,0,0,0.8)
		--color_1 rgba(0,0,0,1)
		--background_color #fff

	.color_scheme-type-dark
		--color_005 rgba(255,255,255,0.05)
		--color_01 rgba(255,255,255,0.1)
		--color_07 rgba(255,255,255,0.7)
		--color_08 rgba(255,255,255,0.8)
		--color_1 rgba(255,255,255,1)
		--background_color #23282c

	// Light

	.color_scheme-name-banana
		--primary_color #FFDEAD
		--secondary_color_1 #7F6F56
		--secondary_color_2 #E5C89C

	.color_scheme-name-melon
		--primary_color #aae6bd
		--secondary_color_1 #4C6654
		--secondary_color_2 #97CCA8

	.color_scheme-name-melocoton
		--primary_color #ffc5b4
		--secondary_color_1 #7F625A
		--secondary_color_2 #ffc5b4

	.color_scheme-name-coco
		--color_08 #544c3f
		--color_1 #544c3f
		--color_07 #544c3f
		--background_color #f5f5f5
		--primary_color #fff
		--secondary_color_1 #3A352C
		--secondary_color_2 #A09178

	.color_scheme-name-mandarina
		--primary_color #FFA07A
		--secondary_color_1 #754938
		--secondary_color_2 #FFA07A

	.color_scheme-name-pistacho
		--primary_color #bdb76b
		--secondary_color_1 #3D3C23
		--secondary_color_2 #bdb76b

	// Dark

	.color_scheme-name-higo
		--primary_color #827c7a
		--secondary_color_1 #CEC5C2
		--secondary_color_2 #686462

	.color_scheme-name-mango
		--primary_color #E9967A
		--secondary_color_1 #F69E81
		--secondary_color_2 #A96D59

	.color_scheme-name-endrina
		--primary_color #708090
		--secondary_color_1 #ABC4DC
		--secondary_color_2 #5C6976

	.color_scheme-name-castana
		--primary_color #c27c49
		--secondary_color_1 #CF844E
		--secondary_color_2 #825331

	.color_scheme-name-naranja
		--primary_color #ff7f50
		--secondary_color_1 #ff7f50
		--secondary_color_2 #B05837

	.color_scheme-name-ciruela
		--primary_color #bd8f8f
		--secondary_color_1 #FFC1C1
		--secondary_color_2 #7D5F5F
