/*
 * Block Header
 */


#bn-container
	overflow-y auto

+prefix-classes('bn-')

	.menu-icon
		display flex
		margin-right: 5px;
		width: 24px;
		justify-content: center;

	.menu
		background-color var(--background_color)
		border 1px solid var(--color_01)
		padding 5px 0
		max-width 300px

	for num in (1..10)
		.level-{num}
			padding-left (num*20)px
		div.level-{num} > .drop
		div.level-{num}:before
			left (num*20)px

	.moving_is_over.can_receive_drop
		.block-header
		~ .block .block-header
			transform translate3d(0,4em,0)

	.drop
		z-index 1
	.drop
	.block:before
		position absolute
		top 0
		left 0
		right 0
		height 4em
	.block:before
		content ""
		z-index -1
		background var(--primary_color)

	// .list-is_closed.level-0 ~ .level-0
	.ancestor_is_closed
		display none

	.block
		display flex
		position relative
		background-color var(--background_color)

	// #bn-container
	// 	padding 20px

	.no-is_drop_above
		z-index 1

	.is_drop_above
		z-index -1
		// &.depth-0 .block:before
		// 	left 18px

		.block
			// z-index 0

			&:before
				content ""
				background pink
				position absolute
				bottom 100%
				left 0
				width 100%
				height 100%
				z-index -1
				opacity .9

	.can_receive_drop.no-is_moving
		border-top 1px dashed var(--secondary_color_2)
		margin-top -1px

	// .is_drop_above.no-can_receive_drop
	// .is_drop_above.no-can_receive_drop ~ .item.no-is_moving
	// .has_item_over.no-can_receive_drop
	// .has_item_over.no-can_receive_drop ~ .item.no-is_moving
	// 	transform none!important

	// q.has_item_over.no-can_receive_drop
	// q.has_item_over.no-can_receive_drop ~ .item
	// 	transform none!important

	.no-can_move
		pointer-events none

	.block-list
		margin-left 20px

		#bn-navigation > &
			margin-left 0

	.block-header
		flex 1
		transition transform .3s $e_standard
		// z-index 1
		background-color var(--background_color)
		position relative
		display flex
		align-items center
		padding-left 18px
		// margin-left -20px
		// padding-right 30px
		//
		line-height 4
		display: flex;
		align-items: center;
		overflow hidden
		border-left 1px solid var(--secondary_color_2)

		::selection
			background transparent

		.level-0 > &
			border-left none

	.block-image-container
		width 2em
		height 2em
		object-fit cover
		position relative
		border-radius 50%
		overflow hidden
		border 1px dotted

	.block-image
		position absolute
		top 0
		left 0
		width 100%
		height 100%

	// .depth-0 &
	// 	border-left none

	// .block-header
	// 	line-height 4
	// 	display: flex;
	// 	align-items: center;
	// 	overflow hidden

	.content_type-image
		display: flex;
		align-items: center;

	.content_type-text
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		&:before
			content "|"
			margin 0 10px

	.block-icon
		margin-right 10px
		display flex

		svg
			width 22px
			height 22px

	// .item
	// 	padding 1em
	// 	// pointer-events none

	// .is_moving
	// 	height 0
	// 	padding 0

	.is_over_item
		background red
	.has_item_over
		background green
