/*
 * List
 */

$block_height = 60px
$block_height_end = 15px

#bn-container
	background var(--background_color)
	color var(--text_color)
	fill var(--fill_color)

	.list
		margin 0

	.list-nested
		padding-left 20px
		padding-bottom $block_height_end
		position relative

		.block
			margin-left 2px

	.level-6
		.list-nested
			padding-left 0

			&:after
				left 0

	.more-message
		padding-left 20px
		display block
		margin-left: 22px;

	button.toggle-list
		padding 3px
		height $block_height
		box-shadow none
		position absolute
		right 0
		top 0
		background-color transparent
		align-items center

	&.color_scheme-type-dark
		.is_selected .list-nested:after
			background-color rgba(255,255,255,0.4)

	&.color_scheme-type-light
		.is_selected .list-nested:after
			background-color rgba(0,0,0,0.25)
