/*
 * Settings
 */

#bn-plugin-info-logo
    margin-top 2px
    margin-right 10px

#bn-plugin-info
	display flex
	padding-top 3em
	padding-bottom 3em
	z-index 1

#bn-plugin-info-name
	color inherit
	margin 0 0 10px 0

.color_scheme-type-light
	#bn-panel-settings > div + div
	.bn-panel > div + div
		border-top 1px solid rgba(0,0,0,0.1)

.color_scheme-type-dark
	#bn-panel-settings > div + div
	.bn-panel > div + div
		border-top 1px solid rgba(255,255,255,0.2)

#bn-panel-settings

	&:before
		content ""
		position absolute
		width 100%
		height 100%
		top 0
		left 0
		z-index -1
		background-color var(--background_color)

	.bn-panel > div
	> div
		position relative
		padding 2em 1.2em

	.bn-panel
		padding 0
		border-top none

		button
			color var(--text_color)
		svg
			color var(--fill_color)

		h2
			margin 0

		h2:hover
		button:focus
			background transparent

	.bn-control-checkbox
		p
			font-style normal
			margin-top 15px
			opacity .7

	.bn-control-select
		position relative
		color var(--text_color_strong)

		.components-base-control__label
			font-weight 600
			margin-bottom 1.5em

		.components-base-control__field
			position relative

		select
			color var(--text_color_strong)
			border-color var(--text_color_strong)
			background-color var(--color_primary)
			outline-color transparent
			box-shadow none

		&:before
			content ""
			position absolute
			top -1px
			bottom 0
			left 0
			right 0
			background-color var(--color_primary)
