/*
 * Panels
 */

$e_deceleration = cubic-bezier(0.0, 0.0, 0.2, 1)

#bn-toggle-panel
	display flex
	height 50px
	background-color var(--background_color)

	button.toggle-panel
		padding 3px 15px
		height 100%
		box-shadow none
		width 50%
		color var(--text_color)
		background transparent
		transition background-color .15s $e_deceleration
		display flex
		align-items center
		justify-content center

		&.is-active
			margin-bottom -1px
			height calc(100% + 1px)
			font-weight 600
			padding-bottom 0
			border-bottom 3px solid var(--color_primary)

#bn-container
	&.color_scheme-type-light

		button.toggle-panel
			&:hover
				background-color rgba(0,0,0,0.03)

		#bn-toggle-panel
			border-bottom 1px solid rgba(0,0,0,0.1)

	&.color_scheme-type-dark

		button.toggle-panel
			&:hover
				background-color rgba(255,255,255,0.05)

		#bn-toggle-panel
			border-bottom 1px solid rgba(255,255,255,0.1)
