/**
 * Block - Title
 */

.icon
.title
	transition opacity .1s .1s var(--e_deceleration)

	&::selection
		background-color transparent

	.is_moving &
	.ancestor_is_moving &
		opacity .3

.title
	min-width 3em
	overflow hidden
	text-overflow ellipsis

.icon
	margin-right .7em

	svg
		display block
		width 23px
		width 23px
