/**
 * Block - Content
 */

.container
	height 4em
	width 100%
	position relative

	&.moving_type-by_click.can_receive_drop
		cursor pointer

.moving_is_over.can_receive_drop
.moving_type-by_click.can_receive_drop:hover

	.content
	~ .container .content
		transform translateY(100%)

.content
	width 100%
	height 100%
	display flex
	background-color var(--background_color)

	.no-moving.is_selected &:before
		background-color var(--primary_color)

	.moving &
		transition transform .3s .05s $e_deceleration
		pointer-events none

	.moving.can_receive_drop.no-moving_is_over &:after
		border-top-color var(--secondary_color_2)

	&:before
	&:after
		content ""
		position absolute
		top 0
		left 0
		right 0

	&:before
		bottom 0
		border-left 1px solid var(--secondary_color_2)

	.level-0 &:before
		border-left none

	&:after
		height 1px
		border-top 1px dashed transparent
		transition border-color .1s $e_deceleration

.button
	position relative

for num in (1..20)

	.level-{num}

		margin = num > 3 ? 1 : 1.5
		prev_margin = num > 3 ? 1.5 : 0

		.content
			padding-left (num * margin + prev_margin)em

		.content:before
		.content:after
			left (num * margin + prev_margin)em
